# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Streamlit
.streamlit/

# Model files
# backend/model/*.pkl  # removed so pickles can be tracked in repo for deployment

# Dataset files
*.csv

# OS files
.DS_Store